.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 20px;
  }
  
.video {
display: flex;
flex-direction: column;
text-decoration: none;
color: white;
}

.video img {
width: 100%;
height: auto;
}

.info {
margin-top: 10px;
}

.thumbnail {
    border-radius: 15px;
}
