.videoContainer {
  width: 80%;
  margin: 0 auto;
}

.videoPlayer {
  position: relative;
}
  
.video {
  position: relative;
  width: 100%;
}

.customControls {
  position: absolute;
  bottom: 5px;
  width: 100%;
  

  background-color: rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  height: 50px;

  justify-content: space-evenly;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.customControls:hover {
  opacity: 1;
}

.video:hover + .customControls {
  opacity: 1;
}


.progressBar {
  display: flex;
  position: absolute;
  bottom: 43px;
  width: 100%;

  cursor: pointer;
}

.volumeBar {
  cursor: pointer;
  width: 80px;
}


.playBtn,
.loopBtn,
.fullscreenBtn,
.volumeBtn
{
  height: 100%;
}

.fullscreenBtn {

}


.time {
  color: #fff;
}
  